* {
    font-family: "Helvetica"; 
}

body {
    background-color: gray;
    width: 900px;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 900px; 
    position: center;
    margin: auto;
}

header img {
    max-width: 900px;
}

nav{
    max-width: 600px; 
	font-weight: bold;
	position: relative;
    left: -40px;
	top: -50px; 
}

nav ul li {
	background-color: white;
    display: inline;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
}

nav ul li a{
    color: red;
}

nav ul li:hover a {
    color: rgb(200,0,0);  
    font-style: italic;
}

a {
    text-decoration: none; 
}

section img {
    max-width: 500px;
    max-height: 500px;
}

#slideshow {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 200px; 
    border: 2px solid black; 
    background-color: white;
}

#welcome {
    background-color: white;
    border: 2px solid black;
    width: 390px;
    height: 530px; 
    position: relative;
    left: 507px;
    top: -42px;
}

.welcomebot {
    width: 380px; 
    height: 250px;
}

article {
    column-count: 1; 
    text-align: center;  
    padding-left: 5px;
    padding-right: 5px;
}

article a {
    color: red;
    text-decoration: none;
    font-size: 20px;
}

article a:hover{
    color: rgb(200,0,0);
    font-style: italic;
}

#contact{
    position: absolute;
    max-width: 500px; 
    max-height: 220px; 
    width: 500px; 
    height: 220px;
    top: 510px; 
    border: 2px solid black;
    background-color: white;
}

footer {
    position: absolute;
    margin: auto;
    width: 900px;
    text-align: center;
    top: 750px;
}

footer a {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

footer img {
    width: 30px;
    height: 30px; 
    border: 5px inset white; 
    border-radius: 5px; 
}