body {
    background-image: url("background2.jpg");
    background-size: 1000px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    max-width: 540px; 
    position: relative;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

nav{
	font-weight: bold;
	position: relative;
	left: 35px;
	top: -50px;
    display: inline; 
}

img {
    margin-left: 15px; 

}

nav ul li {
	background-color: white;
	display: inline;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	border: 2px solid black;
	border-radius: 3px;
}

nav ul li a{
    color: black;
}


nav ul li:hover { 
    background-color: yellow; 
    text-decoration: none; 
}

nav ul li:hover a {
    text-decoration: none; 
    color: blue; 
}

a {
    text-decoration: none; 
}

#welcome {
    position: absolute;
    max-width: 540px;
    background-color: white;
    border: 2px ridge black;
    border-radius: 5px; 
    left: 700px; 
    color: black;
}   

@media screen and (min-width: 851px)
{
    //This is the normal screen
}