body {
    background-color: black;
}

header{
    max-width: 800px; 
    position: center;
    margin: auto;
}

nav{
	font-weight: bold;
	position: relative;
    align-content: center;
    left: -40px;
	top: -50px;
    display: inline; 
}

nav ul li {
	background-color: white;
	display: inline;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	border: 2px solid black;
	border-radius: 3px;
}

nav ul li a{
    color: black;
}


nav ul li:hover { 
    background-color: black; 
    text-decoration: none; 
}

nav ul li:hover a {
    text-decoration: none; 
    color: white; 
}

a {
    text-decoration: none; 
}

#welcome {
    position: absolute;
    max-width: 540px;
    background-color: white;
    border: 2px ridge black;
    border-radius: 5px; 
    left: 700px; 
    color: black;
}   

@media screen and (min-width: 851px)
{
    //This is the normal screen
}